@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4070f4;
}
.wrapper {
  margin: 2rem;
  position: relative;
  width: 100%;
  background: #fff;
  padding: 34px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yakeen {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.yakeen img {
  width: 50px;
}

.wrapper .title {
  margin: auto;
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}
.wrapper .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 12px;
  background: #4070f4;
}
.wrapper form {
  margin-top: 25px;
}

.wrapper form .input-box {
  height: 52px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.input-box label {
  flex: 1;
}

.input-box input,
.input-box select {
  flex: 9.5;
}

.input-box-container .input-box input,
.input-box-container .input-box select {
  flex: 4;
}

form .input-box label {
  color: #707070;
  font-size: 17px;
  font-weight: 500;
  margin-right: 10px;
}
form .input-box input,
form .input-box select {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid,
.input-box select:focus,
.input-box select:valid {
  border-color: #4070f4;
}

#price {
  background-color: #e6e6e6;
}

.input-box-container {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
}

.files {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.file span {
  color: #707070;
  font-size: 17px;
  font-weight: 500;
  margin-right: 10px;
}

.box {
  border: 3px dashed #c7bebe;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box p {
  text-align: center;
  color: #707070;
  font-family: Arial;
  padding: 2rem 1rem;
}

.box input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.wrapper form .question {
  height: 40px;
}

form .policy {
  display: flex;
  align-items: center;
}
form h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.wrapper form .input-box.button {
  margin-top: 50px;
}

.input-box.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}
.input-box.button input:hover {
  background: #0e4bf1;
}
form .text h3 {
  color: #333;
  width: 100%;
  text-align: center;
}
form .text h3 a {
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .wrapper .yakeen {
    font-size: 0.8rem;
  }
  .wrapper .title {
    font-size: 1.2rem;
  }
  .wrapper .title::before {
    width: 20px;
    height: 2px;
  }

  .wrapper form .input-box {
    display: block;
    height: 40px;
    margin-bottom: 40px;
  }
  .wrapper form .question {
    display: block;
    margin-bottom: 10px;
  }
  .input-box-container {
    display: block;
  }
  .wrapper form .input-box.button {
    margin-top: 30px;
  }
  .question input:placeholder-shown {
    font-size: 11px;
  }
}
